body {
  background-color: black;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


.btn-submit {
  padding: 15px;
  font-size: 32px;
  border: 1px solid blue;
  border-radius: 15px;
  background-color: blue;
  color: white;
}